---
interface Props {
	class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`${className} w-2 h-24 flex flex-col`}>
	<div class='flex-1 bg-secondary rotate-6'></div>
	<div class='flex-1 bg-secondary rotate-6 relative'></div>
	<div class='relative'>
		<div
			class='absolute h-6 w-2 bg-secondary rotate-[30deg] -top-6 -right-1'
		>
		</div>
		<div
			class='absolute h-6 w-2 bg-secondary -rotate-[30deg] -top-6 -left-2'
		>
		</div>
	</div>
</div>
