---
---

<div class='flex gap-4'>
	<div class='rounded-full bg-secondary w-6 h-6'></div>
	<div class='rounded-full bg-secondary w-6 h-6'></div>
	<div class='rounded-full bg-secondary w-6 h-6'></div>
</div>
