---
import RetroV from './RetroV.astro';
---

<footer>
	<div class='-mb-6'>
		<RetroV color='bg-retro-6' />
		<RetroV color='bg-retro-5' />
		<RetroV color='bg-retro-4' />
		<RetroV color='bg-retro-3' />
		<RetroV color='bg-retro-2' />
		<RetroV color='bg-retro-1' />
	</div>
	<div class='bg-secondary w-full h-32'></div>
</footer>
