---
interface Props {
	color: string
}

const { color } = Astro.props as Props
---

<div class="-mt-1 flex flex-row">
	<div class={`${color} -mr-px h-4 rotate-2 skew-x-2 flex-1`}></div>
	<div class={`${color} -ml-px h-4 -rotate-2 -skew-x-2 flex-1`}></div>
</div>
