---
interface Props {
	class?: string
}

const { class: className = '' } = Astro.props
---

<div class={`${className} w-1 h-12 flex flex-col`}>
	<div class="flex-1 rotate-6 bg-secondary"></div>
	<div class="relative flex-1 rotate-6 bg-secondary"></div>
	<div class="relative">
		<div class="absolute -right-0.5 -top-3 h-3 w-1 rotate-[30deg] bg-secondary"></div>
		<div class="absolute -left-1 -top-3 h-3 w-1 -rotate-[30deg] bg-secondary"></div>
	</div>
</div>
