---
interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div
	class='font-mono border-4 border-secondary rounded-xl px-3 py-2 bg-primary text-2xl font-bold text-secondary grid grid-cols-4 grid-flow-row gap-x-0.5'
>
	{text.split('').map((c) => <div>{c}</div>)}
</div>
