---
import TerminalText from './TerminalText.tsx'

interface Props {
	text?: string[]
	subtext?: string
	children?: any
}

const { text = [], subtext } = Astro.props as Props
---

<div class="flex flex-row mxl:flex-col mxl:gap-6">
	<div class="flex flex-1 flex-row items-center justify-evenly gap-4 px-4 mxs:flex-col">
		<slot />
	</div>
	<div class="flex flex-1 flex-col gap-6 px-2 font-mono font-bold mxl:px-4 mxl:text-base">
		<div class="flex-1 skew-x-6 text-secondary mxs:skew-x-0">
			<TerminalText text={text} client:visible />
		</div>
		{
			subtext && (
				<div class="-skew-x-6 text-right text-retro-3">
					<p class="px-6">$ {subtext}</p>
				</div>
			)
		}
	</div>
</div>
