---
interface Props {
	title: string
	class?: string
	children?: any
}

const { title, class: className = '' } = Astro.props

const kebabCaseTitle = title
	.replace(/[^\w\s]/g, '')
	.replace(/([a-z])([A-Z])/g, '$1-$2')
	.replace(/\s+/g, '-')
	.toLowerCase()
---

<div data-section id={kebabCaseTitle} class="flex flex-row py-4">
	<div class="relative flex-1 mxs:hidden">
		<div class={`absolute mxl:hidden w-full flex flex-row ${className}`}>
			<slot />
		</div>
	</div>
	<div class="flex h-min flex-1 flex-row">
		<div class="-mr-1 flex -rotate-2 -skew-x-2 flex-col justify-center bg-secondary">
			<h2 class="px-4 py-2 text-xl font-black text-primary mxs:text-lg">
				{title}
			</h2>
		</div>
		<div class="-mr-px flex-1 rotate-2 skew-x-2 bg-secondary"></div>
	</div>
</div>
