---
import HeaderArrow from './HeaderArrow.astro';
---

<footer>
	<div class='-mb-6'>
		<HeaderArrow color='bg-retro-6' />
		<HeaderArrow color='bg-retro-5' />
		<HeaderArrow color='bg-retro-4' />
		<HeaderArrow color='bg-retro-3' />
		<HeaderArrow color='bg-retro-2' />
		<HeaderArrow color='bg-retro-1' />
	</div>
	<div class='bg-secondary w-full h-32'></div>
</footer>
