---
interface Props {
	letter: string;
	vals: number[];
}

const { letter, vals } = Astro.props;
---

<div
	class={`grid grid-cols-8 border-2 border-secondary rounded-2xl text-4xl font-bold text-secondary font-mono overflow-hidden`}
>
	{
		vals.map((i) => (
			<>
				{vals.map((j) => (
					<div class='flex justify-center border-2 border-secondary items-center w-16 h-16'>
						{letter}
						<sub>{`${i}${j}`}</sub>
					</div>
				))}
			</>
		))
	}
</div>
